.button {
  display: block;
  height: 50px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin-top: 15px;
  outline: none;
  border: none;
}

@media screen and (max-width: 600px) {
  .button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }
}
